.mergeTable {
  border-spacing: 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.mergeTable td {
  width: 7rem;
  height: 2rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.selected {
  background-color: #ccc;
  outline: 1px solid #fff;
}